
services:
  db:
    image: mysql:8.0
    container_name: ${DB_NAME}
    restart: unless-stopped
    env_file:
    - ./.env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./Canvas_RPG/
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      DB_HOST: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - db
    volumes:
      - ./Canvas_RPG:/app

volumes:
  db_data:
